.student-detail-page{
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: .5s ease-in-out;
}
.detail-section{
    display: flex;
    flex-direction: row;
    gap: 30px;
    transition: .5s ease-in-out;
}
.react-icon{
    width: 25px;
    height: 25px;
}
.outletTab{
    border: 1px solid #D9D9D9;
    border-radius:10px;
    transition: .5s ease-in-out;
}
.selectedOutletTab{
    background-color: #148CF0;
    color: white;
    border: 1px solid #148CF0;

}
@media screen and (max-width:1024px) {
    .detail-section{
        flex-direction: column;
    }
    .info-section{
        width: 100%;
    }
}