.student-detail-page{
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.detail-section{
    display: flex;
    flex-direction: row;
    gap: 30px;
    transition: .5s ease-in-out;
}

.react-icon{
    width: 25px;
    height: 25px;
}