/* span {
    color: #505050;
} */

@media (max-width: 700px) {
  .navbar-custom {
    padding: 1rem;
  }
  .Offcanvasicons {
    font-size: 20px;
  }
  .card {
    width: auto;
  }
}

/* App.css */
body {
  font-family: "Roboto", sans-serif !important; 
  color: #505050 !important;
  /* overflow-y: hidden; */
}
b {
  color: #505050;

}
.filter-container {
  position: relative; /* Necessary for absolute positioning of the dropdown */
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 15px;
  z-index: 1000;
  border-radius: 4px;
  display: block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: "220px";
}
.table-responsive thead th {
  color: #505050;
  font-family: "Roboto", sans-serif;

}

/* Table body text color */
.table-responsive tbody td {
  color: #505050;
  font-family: "Roboto", sans-serif;

}

.background {
  width: 50px;
  height: 50px;
  background-color: #FFFFFF;
}


input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #C3C3C3;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.select {
  border: 1px solid #CCCCCC;
  padding: 10px;
  appearance: none;
  border-radius: 5px;
  background: url('https://cdn-icons-png.flaticon.com/512/54/54785.png') no-repeat right 15px center;
  background-size: 15px 15px; 
  cursor: pointer;
}


  .radio-wrapper-2 {
    display: flex;
    align-items: center;
  }

  .radio-wrapper-2 input[type=radio] {
    appearance: none;
    background-origin: border-box;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    flex-shrink: 0;
    padding: 0;
    -webkit-print-color-adjust: exact;
    border-radius: 100%;
    user-select: none;
    vertical-align: middle;
    height: 1rem;
    width: 1rem;
    border-color: rgb(209 213 219);
    background-color: rgb(243 244 246/1);
    color: rgb(28 100 242/1);
    margin: 0;
  }
  
  .radio-wrapper-2 input[type=radio]:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px, rgb(63, 131, 248) 0px 0px 0px 4px;
  }
  
  .radio-wrapper-2 input[type=radio]:checked {
    background-color: currentcolor;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='3'/%3E%3C/svg%3E");
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: initial;
    border-color: transparent;
  }

  .radio-wrapper-2 input[type=radio]:disabled ~ label {
    color: rgb(156 163 175)
  }
  
  .radio-wrapper-2 label {
    padding-inline-start: .5rem;
    color: #505050;
  }









  .checkbox-wrapper-7 .tgl {
    display: none;
  }
  .checkbox-wrapper-7 .tgl,
  .checkbox-wrapper-7 .tgl:after,
  .checkbox-wrapper-7 .tgl:before,
  .checkbox-wrapper-7 .tgl *,
  .checkbox-wrapper-7 .tgl *:after,
  .checkbox-wrapper-7 .tgl *:before,
  .checkbox-wrapper-7 .tgl + .tgl-btn {
    box-sizing: border-box;
  }
  .checkbox-wrapper-7 .tgl::-moz-selection,
  .checkbox-wrapper-7 .tgl:after::-moz-selection,
  .checkbox-wrapper-7 .tgl:before::-moz-selection,
  .checkbox-wrapper-7 .tgl *::-moz-selection,
  .checkbox-wrapper-7 .tgl *:after::-moz-selection,
  .checkbox-wrapper-7 .tgl *:before::-moz-selection,
  .checkbox-wrapper-7 .tgl + .tgl-btn::-moz-selection,
  .checkbox-wrapper-7 .tgl::selection,
  .checkbox-wrapper-7 .tgl:after::selection,
  .checkbox-wrapper-7 .tgl:before::selection,
  .checkbox-wrapper-7 .tgl *::selection,
  .checkbox-wrapper-7 .tgl *:after::selection,
  .checkbox-wrapper-7 .tgl *:before::selection,
  .checkbox-wrapper-7 .tgl + .tgl-btn::selection {
    background: none;
  }
  .checkbox-wrapper-7 .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 2.5em;
    height: 1.5em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .checkbox-wrapper-7 .tgl + .tgl-btn:after,
  .checkbox-wrapper-7 .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
  }
  .checkbox-wrapper-7 .tgl + .tgl-btn:after {
    left: 0;
  }
  .checkbox-wrapper-7 .tgl + .tgl-btn:before {
    display: none;
  }
  .checkbox-wrapper-7 .tgl:checked + .tgl-btn:after {
    left: 50%;
  }

  .checkbox-wrapper-7 .tgl-ios + .tgl-btn {
    background: #fbfbfb;
    border-radius: 1.5em;
    padding: 2px;
    transition: all 0.4s ease;
    border: 1px solid #148CF0;
  }
  .checkbox-wrapper-7 .tgl-ios + .tgl-btn:after {
    border-radius: 2em;
    background: #fbfbfb;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
  }
  .checkbox-wrapper-7 .tgl-ios + .tgl-btn:hover:after {
    will-change: padding;
  }
  .checkbox-wrapper-7 .tgl-ios + .tgl-btn:active {
    box-shadow: inset 0 0 0 2em #148CF0;
  }
  .checkbox-wrapper-7 .tgl-ios + .tgl-btn:active:after {
    padding-right: 0.8em;
  }
  .checkbox-wrapper-7 .tgl-ios:checked + .tgl-btn {
    background: #5AAEF5;
  }
  .checkbox-wrapper-7 .tgl-ios:checked + .tgl-btn:active {
    box-shadow: none;
  }
  .checkbox-wrapper-7 .tgl-ios:checked + .tgl-btn:active:after {
    margin-left: -0.8em;
  }

.addnewbuttone {
  border-color: #3474EB !important;
  color: #3474EB !important;
  background-color: #FFFFFF !important;

}

.addnewbuttone:hover {
  border-color: #3474EB !important;
  color: #FFFFFF !important;
  background-color: #3474EB !important;
}
.custom-file {
  display: inline-block;
  padding: 12px 12px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
border-style: dashed;
  width: 300px;
  border-color: #148CF0;
  height: 50px;
  color: #148CF0;
}

.iconsvg {
  height: 40px;
  width: 40px;
}


@media (min-width: 768px) {
  .tiltleresposive {
    font-size: 1.2rem;
  }
}



/* Adjust font size on smaller screens */
@media (max-width: 576px) {
  .tiltleresposive {
    font-size: 1rem !important;
  }
  .iconsvg {
    height: 25px;
    width: 25px;
  }
  .svgsection {
    width: 35px !important;
    height: 35px !important;
  }
  .InfoHeaderbg {
 
    padding: 10px;
  }
}


/* Adjust font size on smaller screens */
@media (max-width: 322px) {
  .Upload {
    font-size: small;
  }
}


.svgsection {
  width: 50px ;
  height: 50px;
}
.InfoHeaderbg {
  background-color: #EBF5FD;
  border-bottom: 2px solid #2393F1;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 20px;
}




/* pagination css  */

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination-button {
  padding: 10px 15px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: #3474EB;
  cursor: pointer;
  transition:  0.3s ease-in-out;
}

.pagination-button:hover:not(.disabled) {
  background-color: #3474EB;
  color: white;
}

.pagination-button.disabled {
  /* background-color: #ccc; */
  color: #666;
  cursor: not-allowed;
}

.page-number {
  padding: 10px;
  height: 40px;
  width: 40px;
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition:  0.3s ease-in-out;

}

.page-number.selected {
  background-color: #3474EB;
  color: white;
}
.reset-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  background-color: #EBEBEB;
  color: black;
  border : 2px solid #EBEBEB;
  transition: .5s ease-in-out;
}
.reset-btn:hover{
  border : 2px solid #EBEBEB;
  background-color: white;
}
.discard-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  background-color: #FEEAEC;
  color: #ED1C00;
  border : 2px solid #ED1C00;
  transition: .5s ease-in-out;
}
.discard-btn:hover{
  background-color: #ED1C00;
  color: white;
}
.custom-modal {
  box-shadow: 2px 2px 8px 0px rgba(171, 171, 171, 0.29) !important;
  border: none !important;
}


.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.dropdownInput:focus{
  outline: none;
}
.modal-form-input{
  display: flex;
  flex-direction: row;
  gap: 20px;
  transition: .5s ease-in-out;
}
.info-head{
  background-color: #EBF5FD;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

@media screen and (max-width:600px) {
  .modal-form-input{
    flex-direction: column;
  }
}

/* .subjectInput::-webkit-inner-spin-button,
.subjectInput::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
} */

  .checkbox-wrapper-46 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }

  .checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098A9;
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #506EEC;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .checkbox-wrapper-46 .cbx span:last-child {
    padding-left: 8px;
  }
  .checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: #506EEC;
  }

  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: #506EEC;
    border-color: #506EEC;
    animation: wave-46 0.4s ease;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }

  @keyframes wave-46 {
    50% {
      transform: scale(0.9);
    }
  }
